

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .blink-image {
    animation: blink 0.2s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
 
    img {
        width: 500px;
        height: 400px;
        display:block
     }
x{
    display:flex;
    justify-content:row;
    align-items:space-around
}